extends layout

block head
  script(src='/js/login.js')

block content
  - const dialogBase = `https://work.workplace.com/${graphVersion}/dialog`;
  - const dialogFeatures = [['width', 800], ['height', 800], ['left', 100], ['top', 100]].map(feature => feature[0] + '=' + feature[1]).join(',')
  - const onsubmit = `window.open('', 'wp', '${dialogFeatures}'); this.target = 'wp'`;

  h2 Admin Panel

  h3 Workplace Open ID Connect
  form(action=dialogBase + '/oauth' method="get" onsubmit=onsubmit)
    input(type="hidden", name="app_id", value=appID)
    input(type="hidden", name="redirect_uri", value=redirectURI)
    input(type="hidden", name="scope", value="openid")
    div(style="display: flex; align-items: center")
      div(style="margin: 5px")
        select(name="response_type")
          option(value="id_token") ID Token
          option(value="code") Code
      button(style="margin-left: 15px" type="submit") Login with Workplace

  h3 Device Login
  table
    tr
      td Code
      td= deviceLogin.user_code
    tr
      td Url
      td
        a(href="https://work.workplace.com/device" target="_blank") https://work.workplace.com/device
    tr
      td Expires
      td
        #expiration= deviceLogin.expires_in
  form(action='/devicelogin', method="post")
    input(type="hidden" name="code" value=deviceLogin.code)
    button(type="submit") Done!
    
