extends layout

block content
  h2 Admin Panel
  p.
    Various information about the current status of the application.

  - const dialogBase = `https://work.workplace.com/${graphVersion}/dialog`;
  - const dialogFeatures = [['width', 800], ['height', 800], ['left', 100], ['top', 100]].map(feature => feature[0] + '=' + feature[1]).join(',')
  - const onsubmit = `window.open('', 'wp', '${dialogFeatures}'); this.target = 'wp'`;

  h2 Workplace Open ID Connect
  form(action=dialogBase + '/oauth' method="get" onsubmit=onsubmit)
    input(type="hidden", name="app_id", value=appID)
    input(type="hidden", name="redirect_uri", value=userRedirectURI)
    input(type="hidden", name="scope", value="openid")
    div(style="margin: 5px")
      select(name="response_type")
        option(value="id_token") ID Token
        option(value="code") Code
    button(type="submit") Login with Workplace

  h2 Workplace Install (with full perms)
  form(action=dialogBase + '/work/app_install' method="get" onsubmit=onsubmit)
    input(type="hidden", name="app_id", value=appID)
    input(type="hidden", name="redirect_uri", value=redirectURI)
    button(type="submit") Install

  h2 Workplace Install (with selected perms)
  form(action=dialogBase + '/work/app_install' method="get" onsubmit=onsubmit)
    input(type="hidden", name="app_id", value=appID)
    input(type="hidden", name="redirect_uri", value=redirectURI)
    div.form-group
      p Choose permissions required:
        each val in ["link_unfurling", "bot_mention", "message", "read_user_email"]
          div.checkbox-inline
            input.checkbox-input(type='checkbox', name=`permissions[]`, value=val, id=`perm_${val}`)
            label(for=`perm_${val}`)=val
    div.form-group
      label(for='suggested_page_name') Bot name:
      input.form-control(type='text' id='suggested_page_name' placeholder='Bot name' name='suggested_page_name')
    button(type="submit") Install

  h2 Workplace Install Upgrade
  form(action=dialogBase + '/work/app_upgrade' method="get" onsubmit=onsubmit)
  form(action="https://work.mengk.sb.workplace.com/v3.2/dialog/work/app_upgrade" method="get" onsubmit="window.open('', 'wp', 'width=800,height=1000'); this.target = 'wp';")
    input(type="hidden", name="redirect_uri", value=redirectURI)
    div.form-group
      p Choose permissions required:
        each val in ["link_unfurling", "bot_mention", "message", "read_user_email"]
          div.checkbox-inline
            input.checkbox-input(type='checkbox', name=`permissions[]`, value=val, id=`perm_${val}`)
            label(for=`perm_${val}`)=val
    div.form-group
      label(for='install_id') Intall ID:
      input.form-control(type='text' id='install_id' placeholder='123' name='install_id')
    button(type="submit") Install

  h2 Webhook Subscriptions
  form(action="/admin/subscribe" method="post")
    button(type="submit") Subscribe
  if subscriptions.length === 0
    p No active webhook subscriptions.
  else
    table
      thead
        tr
          th Topic
          th Fields
          th Callback URL
      tbody
      each subscription in subscriptions
        tr
          td= subscription.object
          td= subscription.fields.map(f => f.name).join(', ')
          td= subscription.callback_url
