extends layout

block content
  h2 All Communities
  table.communities
    thead
      tr
        th(style="width: 200px") Workplace ID
        th Name
        th Created Time
        th Access Token
        th Install Type
        th Config
    tbody
      each community in communities
        tr
          td= community.id
          td= community.name
          td= moment(community.createdAt).fromNow()
          td= community.accessToken.substring(0, 5) + '...'
          td= community.installType ? community.installType : '3rd Party App'
          td
            form(action="/admin/community/config" method="post")
              textarea(name="config")= JSON.stringify(community.config, null, 2)
              input(name="app_id" value=community.id style="display:none")
              button(type="submit") Update
