extends layout

block content
  h2 All Communities
  .community-actions
    - const installURL = `https://work.facebook.com/work/admin/?section=apps&app_id=${process.env.APP_ID}&state=${state}`
    a.button(href=installURL) Install
  table.communities
    thead
      tr
        th(style="width: 200px") Workplace ID
        th Name
        th Created Time
        th Access Token
        th Install Type
    tbody
      each community in communities
        tr
          td= community.id
          td= community.name
          td= moment(community.createdAt).fromNow()
          td= community.accessToken.substring(0, 5) + '...'
          td= community.installType ? community.installType : '3rd Party App'
