extends layout

block content
  h2 All Communities
  .community-actions
    - const installURL = `https://work.facebook.com/work/admin/?section=apps&app_id=${process.env.APP_ID}&state=${state}`
    a.button(href=installURL) Install
  table.communities
    thead
      tr
        th(style="width: 200px") Workplace ID
        th Name
        th Created Time
        th Install Type
        th Permissions
    tbody
      each community in communities
        tr
          td= community.id
          td= community.name
          td= moment(community.createdAt).fromNow()
          td= community.installType.toLowerCase()
          td= community.permissions.join(', ').toLowerCase()
