extends layout

block content
  h2 All Communities
  .community-actions
    - const dialogFeatures = [['width', 800], ['height', 800], ['left', 100], ['top', 100]].map(feature => feature[0] + '=' + feature[1]).join(',')
    - const onclick = `window.open('${installUrl}', 'wp', '${dialogFeatures}')`;
    a.button(onclick=onclick) Install
  table.communities
    thead
      tr
        th(style="width: 200px") Workplace ID
        th Name
        th Created Time
        th Install Type
        th Permissions
    tbody
      each community in communities
        tr
          td= community.id
          td= community.name
          td= moment(community.createdAt).fromNow()
          td= community.installType.toLowerCase()
          td= community.permissions.join(', ').toLowerCase()
