extends layout

block head
  script(src="https://cdn.jsdelivr.net/npm/clipboard@2/dist/clipboard.min.js")

block content
  .file-actions
    a#cpy Copy link
    a(href="/download/"+document.id+"/") Download
  h2= document.name
  p.document= document.content
  p.meta Created by #{document.owner.username} #{moment(document.createdAt).fromNow()}
  p.meta= document.privacy
  pre= JSON.stringify(sharedposts, null, 2)
  script.
    new ClipboardJS('#cpy', {
      text: function(trigger) {
        return document.location.href;
      }
    });
