html
  include includes/head.pug
  body
    #main
      include includes/header.pug
      h1= document.name
      p= document.content
      p.meta Created by #{document.owner.username} #{moment(document.createdAt).fromNow()}
      p.meta= document.privacy
