extends layout

block content
  h2 All Installs
  table.communities
    thead
      tr
        th(style="width: 200px") Community ID
        th Community Name
        th(style="width: 200px") Page ID
        th Page Name
        th Created Time
        th Install Type
        th Permissions
    tbody
      each install in installs
        tr
          td= install.community.id
          td= install.community.name
          td= install.pageId
          td= install.name
          td= moment(install.createdAt).fromNow()
          td= install.installType ? install.installType.toLowerCase() : ''
          td= install.permissions ? install.permissions.join(', ').toLowerCase() : ''
  h2 New Install
  - const dialogFeatures = [['width', 800], ['height', 800], ['left', 100], ['top', 100]].map(feature => feature[0] + '=' + feature[1]).join(',')
  - const onsubmit = `window.open('', 'wp', '${dialogFeatures}'); this.target = 'wp'`;
  form(action=installUrl onsubmit=onsubmit method="get" style="width: 500px")
    each val, index in installParams
      input(type="hidden" name=index value=val)
    .input-group
      each val in ["link_unfurling", "bot_mention", "message", "read_user_email", "message_mention"]
        div.checkbox-inline
          input.checkbox-input(type='checkbox', name=`permissions[]`, value=val, id=`perm_${val}`)
          label(for=`perm_${val}`)=val
    button(type="submit") Install
